<div class="jira-item">
  <div class="row row-info">
    <img
      class="issue-type-icon"
      [src]="issueTypeIconUrl"
      [alt]="issueTypeName"
      [title]="issueTypeName"
    />
    <span class="key">{{ issue.key }}</span>
    <span class="priority" [title]="priorityName">
      @if (priorityIconUrl) {
        <img class="priority-icon" [src]="priorityIconUrl" [alt]="priorityName" />
      }
      <span class="priority-name">{{ priorityName }}</span>
    </span>
    <span class="status">{{ statusName }}</span>
  </div>
  <div class="row row-summary">
    <span class="summary">{{ issue.fields.summary }}</span>
  </div>
  @if (showDescription) {
    <div class="row row-description">
      <div #descriptionViewport class="description-box">
        <div #descriptionContent class="description-content">{{ description }}</div>
      </div>
    </div>
  }
</div>
