<div class="bottom-bar">
  @if (builds.length === 0) {
    <span class="placeholder">TeamCity Build Status</span>
  } @else {
    <div class="build-list">
      @for (build of builds; track build.id) {
        <div class="build-item">
          <div class="build-header">
            <span class="build-type">{{ build.buildTypeId }}</span>
            <span
              class="build-status"
              [class.build-status-failed]="!isBuildSuccessful(build.status)"
            >
              {{ formatStatus(build.status) }}
            </span>
          </div>
          <div class="build-details">
            <span>ID: {{ build.id }}</span>
            <span>Finished: {{ formatFinishDate(build.finishDate) }}</span>
            <span>Branch: {{ formatBranchName(build.branchName) }}</span>
          </div>
        </div>
      }
    </div>
  }
</div>
